<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html ng-app="app">

<head>
	<title>Getting Started Extension's Popup</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<style>
		body {
			font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
			font-size: 14px;
		}

		#status {
			/* avoid an excessively wide status text */
			white-space: pre;
			text-overflow: ellipsis;
			overflow: hidden;
			max-width: 600px;
		}

		#result {
			width: 650px;
		}
	</style>

	<!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
     -->
	<script src="jquery.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="angular.js"></script>
	<script src="popup.js"></script>
	<script src="dom.js"></script>
</head>

<body ng-controller="ctrl">
	<div id="status"></div>
	<div id="filter">
		<label class="checkbox-inline">
  			<input ng-change="checkBoxChange()" name="docType" type="checkbox" id="inlineCheckbox1" ng-value="pdf"  ng-model="selectedType.pdf">pdf
		</label>
		<label class="checkbox-inline">
  			<input ng-change="checkBoxChange()" name="docType" type="checkbox" id="inlineCheckbox2" ng-value="docx"  ng-model="selectedType.docx">docx
		</label>
		<label class="checkbox-inline">
  			<input ng-change="checkBoxChange()" name="docType" type="checkbox" id="inlineCheckbox3" ng-value="ppt"  ng-model="selectedType.ppt">ppt
		</label>
	</div>
	<div id="result">
		<!--ng-show="selectedType[item.type]"-->
		<div ng-repeat="item in results track by $index" ng-show="selectedType[item.type]">
			{{item.text}} &nbsp;
            <a ng-href="{{item.url}}" target="_blank">{{item.text}}</a>
		</div>
	</div>

</body>

</html>