<!doctype html>
<html ng-app="app">

<head>
	<title>Download Helper</title>
	<style>
		body {
			font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
			font-size: 14px;
		}

		#status {
			/* avoid an excessively wide status text */
			white-space: pre;
			text-overflow: ellipsis;
			overflow: hidden;
			max-width: 600px;
		}

		#result {
			width: 650px;
		}
	</style>
	<script src="angular.min.js"></script>
	<script src="popup.js"></script>
	<script src="dom.js"></script>
</head>

<body ng-controller="ctrl">
	<div id="status"></div>
	<div id="filter">
		<label class="checkbox-inline">
  			<input ng-change="checkBoxChange()" name="docType" type="checkbox" id="inlineCheckbox1" ng-value="pdf"  ng-model="selectedType.pdf">pdf
		</label>
		<label class="checkbox-inline">
  			<input ng-change="checkBoxChange()" name="docType" type="checkbox" id="inlineCheckbox2" ng-value="docx"  ng-model="selectedType.docx">docx
		</label>
		<label class="checkbox-inline">
  			<input ng-change="checkBoxChange()" name="docType" type="checkbox" id="inlineCheckbox3" ng-value="ppt"  ng-model="selectedType.ppt">ppt
		</label>
	</div>
	<div id="result">
		<div ng-repeat="item in results track by $index" ng-show="selectedType[item.type]">
			{{item.text}} &nbsp;
            <a ng-href="{{item.url}}" target="_blank">Download</a>
		</div>
		<div ng-if = "results.length == 0">
			<i>Not Found</i>
		</div>
	</div>

</body>

</html>
